{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>

    <link rel="stylesheet" href="{% static 'css/home.css' %}">


</head>


<body>

    <h1>Dashboard the datavisulization</h1>

    {% for plot_key, plot_value in content.plot_data.items %}

    <div class="chart_data">

        <h2>{{ plot_value.plot_title }}</h2>

        <div class="form-group" id="select_id{{ forloop.counter0 }}" >

            <button class="tablink" onclick="openPage('line', this, 'red')"     value="line"   >  line  </button>
            <button class="tablink" onclick="openPage('bar', this, 'green')"    value="bar"    >  bar   </button>
            <button class="tablink" onclick="openPage('pie', this, 'blue')"     value="pie"    >  pie   </button>
            <button class="tablink" onclick="openPage('scatter',this,'orange')" value="scatter"> scatter</button>
            <button class="tablink" onclick="openPage('table', this, 'yellow')" value="table"  > table  </button>

            <div id="line" class="tabcontent">
            
            </div>

            <div class="chart" id="chart{{ forloop.counter0 }}" style="height: 550px; width: 100%; background-color:rgb(239, 249, 234);"></div>

        </div>

        {% endfor %}

<div class="container_data">
    {% for table_title,table_data in content.chart_data.items %}
    <div class="table_data">
        <h2>{{table_title.title}}</h2>
        <h3>{{ table_data.data|safe }}</h3>
    </div>
    {% endfor %}
</div>

</body>
</html>




<!-- 
<script>

    function update_plot_type(plot_num){

        {% for key,val in content.plot_data.items %}

        function() {
            var select_plot_type   = document.getElementById('select_id{{ forloop.counter0 }}').value;
            var chart_container_id = 'chart' + plot_num;
            var chartDom = document.getElementById(chart_container_id);
            var plots = echarts.init(chartDom);

            var plot_title = "{{ plot_value.plot_title }}";
            var x_name = "{{ plot_value.x_name }}";
            var y_name = "{{ plot_value.y_name }}";
            var x_data = {{ plot_value.x_data|safe }};
            var y_data = {{ plot_value.y_data|safe }};

            var option = {
                title: {
                    text: plot_title,
                },
                tootip:{
                    tigger: 'axis',
                    axisPointer: {type: 'cross'}
                },
                xAxis :{
                    type: 'category',
                    data: x_data,
                    name: x_name
                },
                legend: {
                    top: 0%,
                    right: 0%,
                    orient: 'vertical',
                    textStyle: { fontSize: 8,},
                },
                series: [{
                    data: y_data,
                    type: select_plot_type,
                    name: 'scale'
                }]
            };

                }
            }


        }

        {% endfor %}
    }

</script> -->

